header {
    background-color: yellow;
}

h1 {
    color: red;
}
main {
    color: green;
}
footer {
    text-align: center;
    background-color: green;
}
h2 {
    background-color: black;
    color: brown;
}
h3 {
    color: purple;
}